@import url(
  https://fonts.googleapis.com/css?family=Open+Sans:400,
  600,
  700,
  800,
  900
);

body {
  background-color: #f4f4f4;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #6c7686;
  text-align: center;
}

form {
  margin-top: 1.7rem;
}

.palette-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 60vh;
  width: 100%;
}

.palette-1,
.palette-2,
.palette-3,
.palette-4,
.palette-5 {
  align-items: center;
  display: flex;
  justify-content: center;
  min-width: 284.8px;
  min-height: 100%;
}

.palette-1 {
  background-color: red;
}

.palette-2 {
  background-color: blue;
}

.palette-3 {
  background-color: violet;
}

.palette-4 {
  background-color: green;
}

.palette-5 {
  background-color: burlywood;
}

.padlock-image-1:hover,
.padlock-image-2:hover,
.padlock-image-3:hover,
.padlock-image-4:hover,
.padlock-image-5:hover {
  cursor: pointer;
}

.form-container {
  display: flex;
  justify-content: space-around;
  margin-left: 79px;
}

.create-palette {
  text-decoration: none;
  font-size: 12px;
  color: #6c7686;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.29);
  letter-spacing: 2px;
  display: inline-block;
  background: #c0c0c0;
  font-weight: 900;
  line-height: 40px;
  margin-top: 1.2rem;
  cursor: pointer;
  transition: all ease-in-out 100ms;
  width: 200px;
  height: 60px;
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(-179deg, #f4f4f4 0%, #c0c0c0 100%);
  box-shadow: 0 5px 6px -4px rgba(0, 0, 0, 0.22),
    0 10px 13px -4px rgba(0, 0, 0, 0.34),
    inset 0 30px 30px 0 rgba(255, 255, 255, 0.35),
    inset 0 -30px 30px 0 rgba(0, 0, 0, 0.1);
  border-radius: 140px;
}

.create-palette:hover {
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.22),
    0 10px 13px 0px rgba(0, 0, 0, 0.34),
    inset 0 18px 18px 0 rgba(255, 255, 255, 0.35),
    inset 0 -18px 18px 0 rgba(0, 0, 0, 0.1);
  transform: translate(0px, -4px);
  backface-visibility: hidden;
  color: #7a8393;
}

.create-palette:active {
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.22),
    0 10px 13px 0px rgba(0, 0, 0, 0.34),
    inset 0 3px 3px 0 rgba(255, 255, 255, 0.35),
    inset 0 -3px 3px 0 rgba(0, 0, 0, 0.1);
  backface-visibility: hidden;
}
